.marquee-content {
    .marquee-wrap {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 30px 0;
        .marquee-text {
            font-size: 6vw;
            @media #{$sm-layout} {
                margin-top: 6px;
                font-size: 8vw;
            }
        }
        .marquee-link {
            .link {
                padding: 0.5vw 1vw;
                background: $body-color;
                color: $white;
                font-size: 6vw;
                line-height: 4vw;
                font-weight: 400;
                margin: 0 5px;
                text-transform: uppercase;
                @media #{$sm-layout} {
                    font-size: 8vw;
                }
            }
        }
    }
}

.footer {
    background: #19191c;
    color: $white;
    padding: 35px 0;
    position: relative;
    z-index: 1;
    padding: 1em 0;
    .footer-wrap {
        p {
            margin: 0;
            padding: 0;
        }
        .footer-grid {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media #{$sm-layout} {
                flex-direction: column;
                gap: 15px;
            }
            .footer-links {
                margin-top: auto;
                .connect {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    gap: 10px;
                    margin: 0;
                    padding: 0;
                    &-link {
                        width: 100%;
                        font-size: 1em;
                        transition: all 0.2s ease-in-out;
                        position: relative;
                        &:after {
                            @include decor-link;
                            bottom: 0;
                        }
                        &:hover {
                            @include decor-link-hover;
                        }
                    }
                }
            }
        }
    }
    &:after {
        content: "";
        background: url(/src/assets/images/06.png);
        background-position: center center;
        background-repeat: repeat;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}